body {
    background: linear-gradient(45deg,#F17C58, #E94584, #24AADB , #27DBB1,#FFDC18, #FF3706);
    background-size: 600% 400%;
    animation: gradient 16s linear infinite;
    animation-direction: alternate;
}

@keyframes gradient {
    0% {background-position: 0%}
    100% {background-position: 100%}
}

.column {
    float: left;
    width: 25%;
    padding: 0 10px;
  }

.row {margin: 0 -5px;}

.row:after {
    content: "";
    display: table;
    clear: both;
  }

.pref {
    color: #A6ACAF;
    text-shadow: 1px 1px 2px black, 0 0 25px #A6ACAF, 0 0 5px black;
    font-style:inherit;
    font-size: 25px;
    font-weight: bold;
}

.title {
    font-size: 50px;
    font-weight:bold;
    color: white;
    text-shadow: 1px 1px 2px white, 0 0 25px grey, 0 0 5px white;
    text-align: center;
    /*color:midnightblue;*/
  
}
    
.container{
    align-items:center;
    text-align: center;
    padding: 50px;
}

.content {
    padding: auto;
    margin-right: auto;
    margin-left: auto;
    margin-top: 80px;
}

.profile {
    display: flex;
    margin-top: 50px;
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    flex-direction: column;
  }

  .profile-pic{
    width: 300px;
    height: 300px;
  }
  
  /* On mouse-over, add a deeper shadow */
  .profile:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  /* Add some padding inside the card container */
  .profile-content {
    padding: 2px 16px;
  }


  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
